// --------------- { Center block } -------------- //
@mixin center-block($width){width:$width;margin: 0 auto;}
// --------------- { Create background } ------------ //
@mixin create-background($bg, $bg-size){background:$bg;background-size:$bg-size;}
// --------------- { Create flex } ------------------ //
@mixin create-flexbox($jstfy-con:flex-start,$align-items:flex-start,$direction:row,){
  display:flex;justify-content:$jstfy-con;
  align-items:$align-items;flex-direction:$direction;
}
// --------------- { Initialize "pseudo" element } ----------- //
@mixin pseudo($loc,$bgc:transparent,$dspl:none,$w:0,$h:0,$pos:absolute,$con:""){
  position:relative;
  &::#{$loc}{content:$con;position:$pos;background-color:$bgc;width:$w;height:$h;display:$dspl;@content}
}